# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
ai_env/
env/
.env

# Models
models/
*.gguf

# Qdrant Vector Database Storage
qdrant_storage/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
